/*This is a CSS comment! Anything between these tags will not be run and is for your reference. Everything in this file has to do with how the website looks; I've pointed out areas where you can pick text/background colors, etc. If you want to look into doing more specific effects, google is your best friend! You can also look at what's available at https://www.w3schools.com/ */
/*Template version 1.0.1*/

/*This affects every element on the site. You can change the font and font color here.*/
*
{ 
    font-family: 'Caibri', sans-serif;
    color: #050505; /*Text color*/
    text-align: left;
}

body
{
    background: #278eeb; /*This is the background color for the whole site*/
    margin-left: 3%;
    margin-right: 3%;
}

p
{ 
    font-size: 17px;
}

nav
{
    background: #f2f2f1;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    text-align: center;
}

pre
{
	font-family: 'Calibri', monospace;
}

.navlink:hover
{
    background: #ff0000;
    padding: 15px;
}

.navlink a.active
{
    background-color: #ff0000;
    color: #ff0000;
  }

.navlink
{
    padding: 15px;
    text-decoration: none;
    color: #ff0000;
}

.navlinkac
{
    padding: 15px;
    text-decoration: none;
    color: #ff0000;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #f2f2f1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 15px;
  color: #050505;
  padding: 15px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: 222020;
  padding: 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #b6b5b6;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebebeb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 2px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #b6b5b6;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navdivider
{
	color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

footer
{
    margin-top: 5px;
    background: #ebebeb;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

.footlink
{
    text-decoration: none;
    color: #222020;
}

a
{
    
    color: #7b2dbb;
    text-decoration: None;
}

a:hover
{
    text-decoration: none;
    color: #212022;
}

article
{
    background: #f0f0f0; /*This is the white boxes that the text is in. You can change this to anything you like*/
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}

footer
{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background: #f0f0f0;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

a
{
    color: #6f838b; /*This is the color for links, such as the download link*/
    text-decoration: None;
    font-weight: bold;
}

/*Class for centering images*/
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px; /*If you want your images to be perfectly square, remove the border-radius bit*/
}

/*Classes for the download button*/
.dlbutton
{
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #d8d8d8;
    max-width: 35%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.dlbutton:hover
{
    background-color: #cfcfcf;
}

/*This is for the webring, but you could use it for any center aligned text*/
.centertext
{
	text-align: center;
}

.version
{
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    text-align: center;
}

.credit /*Please leave this credit as-is if you use the template as given! If you start making major changes, you can go ahead and get rid of it tbh. Everything I've done here is very basic HTML/CSS*/
{
    text-align: center;
    color: #a4a4a4;
    font-size: 12px;
}