/* The entire site will be affected */
*
{
	color: #141414; /*Text color*/
	font-family: 'Calibri', sans-serif;
	font-size: 18px;
	text-align: left;
}

.solotext
{
	color: #141414; /*Text color*/
	font-size: 20px;
	text-align: center;
}

.sololink
{
	color: #0348e6;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}

/* The site's body and background color */
body
{
	background: #00b4fb;
	margin-left: 3%;
	margin-right: 3%;
}

/* The site's text bubbles and background color */
article
{
	background: #fafafa;
	border-radius: 15px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}

/* The site's bottom text bubble and background color */
footer
{
	background: #fafafa;
	border-radius: 15px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	text-align: center;
}

/* links */
a
{
	color: #141414;
	text-decoration: none;
	font-weight: bold;
}

/* header 1 */
h1
{
	text-align: center;
	font-size: 30px;
	margin-bottom: 3%;
}

/* header 2 */
h2
{
	text-align: center;
	font-size: 25px;
}

/*Class for centering images*/
.imgcenter
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

/*Classes for the download button*/
.dlbutton
{
	margin-top: 20px;
	display: block;
	text-align: center;
	padding: 10px;
	background-color: #e6e6e6;
	max-width: 35%;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

.dlbutton:hover
{
	background-color: #d2d2d2;
}

/*This is for the webring, but you could use it for any center aligned text*/
.centertext
{
	text-align: center;
}

.version
{
	background: #e6e6e6;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 1%;
	text-align: center;
}

/*Please leave this credit as-is if you use the template as given! If you start making major changes, you can go ahead and get rid of it tbh. Everything I've done here is very basic HTML/CSS*/
.credit
{
	text-align: center;
	color: #a0a0a0;
	font-size: 16px;
}

/* Add a black background color to the top navigation */
.topnav
{
	text-decoration: none;
	border-radius: 15px;
	background-color: #fafafa;
	padding: 0px 18px;
}

/* Style the links inside the navigation bar */
.topnav a
{
	float: left;
	color: #141414;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover
{
	background-color: #d2d2d2;
	color: #141414;
}

/* Add a color to the active/current link */
.topnav a.active
{
	background-color: #d2d2d2;
	color: #141414;
}

/* Dropdown Button */
.dropbtn
{
	outline: none;
	text-decoration: none;
	text-align: center;
	background-color: #fafafa;
	color: #141414;
	padding: 14px 16px;
	font-size: 17px;
	border: none;
	font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown
{
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content
{
	display: none;
	position: absolute;
	background-color: #fafafa;
	min-width: 100%;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a
{
	float: none;
	text-align: left;
	color: #141414;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover
{
	background-color: #d2d2d2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content
{
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn
{
	background-color: #d2d2d2;
}